.bike-description-modal-button{
    box-shadow: 4px 4px 8px 0px #202633 inset;
    box-shadow: -4px -4px 8px 0px #364055 inset;
    padding: 10px 20px 10px 20px    
}
.bike-description-bottom-sheet{
    background-color: #202633;
}
.bike-description-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    
  }
