.card {
  /* border: 2px solid; */
  border-radius: 8px;
  /* border-image-source: linear-gradient(
    134.4deg,
    rgba(255, 255, 255, 0.2) 7.51%,
    rgba(0, 0, 0, 0.2) 56.43%,
    rgba(0, 0, 0, 0.2) 65.43%
  ); */

  background: linear-gradient(167.4deg, rgba(54, 62, 81, 0.6) 25.94%, rgba(25, 30, 38, 0.6) 68.26%);
  backdrop-filter: blur(50px);
  /* box-shadow: 0px 20px 60px 0px #10141c99; */
  flex: 1 1;
}
.bike-name {
  font-size: 13px;
  font-weight: 500;
  line-height: 19.5px;
  letter-spacing: -0.30000001192092896px;
  text-align: left;
  color: #ffffff99;
}
.bike-model {
  font-size: 15px;
  font-weight: 700;
  line-height: 22.5px;
  letter-spacing: -0.30000001192092896px;
  text-align: left;
  color: #ffffff;
}
.bike-price {
  font-size: 13px;
  font-weight: 500;
  line-height: 19.5px;
  letter-spacing: -0.30000001192092896px;
  text-align: left;
  color: #ffffff99;
}
.starting-card-name{
  font-size: 32px;
  font-weight: 700;
}
