.card{
opacity: 0px;
border: 2px solid;
border-image-source: linear-gradient(134.4deg, rgba(255, 255, 255, 0.2) 7.51%, rgba(0, 0, 0, 0.2) 56.43%, rgba(0, 0, 0, 0.2) 65.43%);
box-shadow: 0px 20px 60px 0px #10141C99;
}
.bike-name{
font-size: 13px;
font-weight: 500;
line-height: 19.5px;
letter-spacing: -0.30000001192092896px;
text-align: left;
color: #FFFFFF99;
}
.bike-model{
font-size: 15px;
font-weight: 700;
line-height: 22.5px;
letter-spacing: -0.30000001192092896px;
text-align: left;
color: #FFFFFF;
}
.bike-price{
font-size: 13px;
font-weight: 500;
line-height: 19.5px;
letter-spacing: -0.30000001192092896px;
text-align: left;
color: #FFFFFF99;

}