.wrapper {
  background: 
                /* First layer: solid color on the left side */
                linear-gradient(125deg, #242C3B 50%, transparent 50%),
                /* Second layer: diagonal split with a vertical gradient on the right side */
                linear-gradient(to bottom, #37B6E9, #4B4CED                );
  display: grid;
  
  grid-template-rows: auto 1fr auto;
  min-height: 100%;
  row-gap: 0rem;
  height: 100%;
}

.header {
  grid-row: 1;
}
.footer {
  background: #2e3666;
  grid-row: 3;
}

main {
  position: relative;
  grid-row: 2;
  overflow-y: auto;
}
